<?xml version="1.0"?>
<robot name="voyager" xmlns:xacro="http://ros.org/wiki/xacro">

    <transmission name="FL_wheel_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="FL_motor" role="actuator_left"/>
        <joint name="wheel_front_left_joint" role="joint_left">
           <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="FR_wheel_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="FR_motor" role="actuator_right"/>
        <joint name="wheel_front_right_joint" role="joint_right">
           <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="camera_continuoius_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="camera_actuator"/>
        <joint name="camera_base_joint" role="camera_joint">
           <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <gazebo reference="wheel_front_left_link">
        <mu1>1000000000000000.0</mu1>  <!--1000000000000000.0-->
        <mu2>1000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

     <gazebo reference="wheel_front_right_link">
        <mu1>1000000000000000.0</mu1>
        <mu2>1000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

     <gazebo reference="wheel_rear_left_link">
        <mu1>1000000000000000.0</mu1>
        <mu2>1000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

     <gazebo reference="wheel_rear_right_link">
        <mu1>1000000000000000.0</mu1>
        <mu2>1000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find voyager_controller)/config/voyager_controllers.yaml</parameters>

        </plugin>
    </gazebo>

</robot>
